@tailwind base;

@tailwind components;

@tailwind utilities;

.flex-flow-col {
  flex-flow: column;
}

.flex-flow-row {
  flex-flow: row;
}

.form-shadow {
  --tw-shadow: 0 0px 25px 25px rgb(0 0 0 / 0.22);
  --tw-shadow-colored: 0 5px 25px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

